[user]
   	name = kazimir-malevich
   	email = adrian_lewis@hushmail.com
[alias]
  	st = status
  	ci = commit
  	br = branch
  	co = checkout
[core]
   	editor = /usr/bin/vim
[color]
	ui = true
[push]
 	default = simple
[init]
	defaultBranch = main
